* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
}

.con1
{   
     background-color: rgb(78, 212, 236);
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 10px;
  
}
.con1:hover
{
    border-radius: 20px;
    background-color: #000000;
    color: #000205;
    background: #00f7ff;
    
}

.con1 .con1-right
{
    padding-top: 80px;
}
.con1-img
{
    padding: 25px;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    border-radius: 50px;    
    
}

.con1-img:hover {
    
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 0px;
    
}

.a
{
    color: #fff;
}

.bdy1
{
    height: auto;
}
.div-of-nav {
    position: sticky;

    
}
.navbtn 
{
    border: none;
    background: #ffffff;
    padding: 6px 15px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
   

}
.navbtn:hover
{
    border: none;
    background: #000000;
    padding: 6px 15px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    
}
.navs1 {
    height: 10vh;
    width: 100%;
    background-color: rgb(78, 212, 236);
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 2%;
    padding-right: 4%;
}
/*
.navs1 {
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-left: 2%;
    padding-right: 2%;
}*/

.ul-content1 {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.slide-tag {
    background-color: #ea1538;
    color: white;
    font-size: 20px;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    position: relative;
    animation: text 1s 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ul-nav1 {
    align-items: right;
}


.logo1 {
    height: 70px;
    width: 70px;
    padding-top: 0px;
    text-decoration: none;
}

.logo1:hover {
    width: 75px;
    height: 75px;
    transition: 0.1s;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;

}

.logo12 {
    font-size: 35px;
    text-decoration: none;

    margin-bottom: 10px;

}

.span1 {
    color: #ffffff;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.slide-corousel {

    font-weight: bold;
    font-size: 60px;
    color: white;
    position: relative;
    animation: text 2s 1;

}

.slide-para {
    font-size: 20px;
    color: white;
    position: relative;
    animation: text 2s 1;

}

.slidedonate {
    background-color: #ea1538;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    width: 130px;
    padding-bottom: 10px;
    color: white;
    border-width: 0px;
    border-radius: 3px;
    position: relative;
    animation: text 2s 1;
    overflow: hidden;

    /* position: relative;
    margin: 10px;
    padding-top:10px;
   
    background-color: #ea1538;
    text-decoration: none;
    overflow: hidden;
    animation: text 2s 1; */
}





@keyframes text {
    0% {
        color: transparent;
        background-color: transparent;
        margin-top: -40px;

    }

    30% {
        color: transparent;
        background-color: transparent;
        margin-top: -40px;

    }

    60% {
        background-color: transparent;


    }

    80% {
        background-color: transparent;

    }
}

.ul-content1:hover {
    color: #ffffff;
    transition: .2s;
    text-decoration: none;

}

.new-navs1 {
    display: flex;
}

.button1 {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.button1:hover {
    background: #000000;
    
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
}



.navs1 .nav-hamburger {
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 75px;
    border-radius: 55px;
}

.footer {
    background-color: #24262d;
    padding: 70px 0;
}

.container {
    max-width: 1170px;

    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

ul {
    list-style: none;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

/*
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
*/
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


@media screen and (max-width : 1110px) {
    .navs1 {
        padding: 0;
    }

    .navs1 .nav-hamburger {
        position: absolute;

        display: block;
        top: -4px;
        padding: 8px;
        right: 18px;
    }

    @media screen and (max-width : 1110px) {
        .navs1 {
            padding: 0;
        }

        .navs1 .nav-hamburger {
            position: absolute;

            display: block;
            top: -9px;
            padding: 4px;
            right: 18px;
        }

        .navhide {
            top: 0;
            left: 0;
            position: absolute;
            background-color: white;
            
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.1s ease;

        }

        .navhide.mobile-menu {
            margin-left: 0;

        }

        .navhide ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .navs1 .navhide ul li {
            margin: 20px 0;
            font-size: 1.2em;


        }
        .button1
        {
            padding:20px;
            margin: 15px;
        }

    }


    .first-section1 {
        display: flex;
        flex-direction: row;
        padding: 40px;

    }

    .first-cont-label {
        border-width: 0px;
        background-color: hsl(350, 100%, 92%);
        color: rgb(247, 56, 56);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 10px;
        margin-left: 0px;
    }

    .first-cont-heading {
        font-size: 40px;
        padding: 10px;
        padding-left: 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .navhide.mobile-menu {
        margin-left: 0;

    }

    .navhide ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navs1 .navhide ul li {
        margin: 20px 0;
        font-size: 1.2em;


    }

    .first-cont-img {
        padding-top: 10px;
        width: 100%;
        height: 100%;
    }


}

@media(max-width : 560px) {
    .footer-col {
        width: 100%;
    }
    *
    {
        font-family:serif;
    }

    .second-cont-card-img {
        width: 100%;
        height: 70%;
    }

    .second-cont-card-heading:hover {
        color: #ea1538;
        transition: 1s;
    }
}

@media screen and (max-width : 1100px) {
    .responsive-div {
        display: flex;
        flex-direction: row;
    }
    *
    {
        font-family:serif;
    }

    .bdy1 {
        display: flex;
        flex-direction: column;
    }

    .first-section1 {
        display: flex;
        flex-direction: column-reverse;
    }


}

.nav-donate {
    color: white;
    text-decoration: none;
}

.nav-donate:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width : 500px) {
    .responsive-div {
        display: flex;
        flex-direction: column;
    }
    *
    {
        font-family:serif;
    }

    .bdy1 {
        flex-direction: column;
    }

    .first-cont-part2 {
        padding-right: 0px;
        padding: 0px;
    }

    .first-cont-heading {
        font-size: 30px;
        padding-top: 0px;
    }

}

.slider {
    min-height: 55vh;
    display: flex;
    align-items: center;
    padding: 20px;
}

.subslider {
    width: 100%;
}

.carouseslid {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carouselslid .card {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #f60f0f !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #e00f0f !important;
}


#preloader {
    background: #ffffff url() no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

@media screen and (max-width : 900px)
{

    .con1
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 1px;
}
*
    {
        font-family:serif;
    }

.con1-img
{
    
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}
.con1 .con1-right
{
    padding-top: 20px;
}

}




@media screen and (max-width : 750px)
{

    .con1
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 10px;
}
.con1-img
{
    align-items: center;
        padding: 25px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
}
*
    {
        font-family:serif;
    }

}

@media screen and (max-width : 500px)
{

    .con1
    {
        font-weight: 0.2em;
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-top: 1px;
    }
    *
    {
        font-family:serif;
    }
    
    .con1-img
    {
        align-items: center;
        padding: 25px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    .con1 .con1-right
    {
        padding-top: 20px;
    }
    
    

}

.bdy2{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
 .bdy2 {
  padding-top: 15px;
    background-color: #000000;
    height: 60vh;
    color:#fff;
  }
  
  .wrapper {
    position: static;
    width: 80vw;
    
    
    top:30%;
    right: 50%;
    left: 50%;
    display: flex;
   
    justify-content: space-around;
    gap: 10px;
  }
  
  .numcontainer {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: #01e5fa;
    
  }
  .numcontainer:hover{
    border-bottom: 10px solid #188cf9;
  }
  
  .bdy2 .numcontainer i{
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
  
  }
  
  span.num {
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  
  span.text {
    color: #000000;
    font-size: 1.1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  
  @media screen and (max-width:1024px) {
    .wrapper {
      width: 85vw;
    }
    .numcontainer {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
    *
    {
        font-family:cursive;
    }
  }
  
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 69vw;
      flex-wrap: wrap;
      gap: 10px;
      height: 70vh;
  }
  .bdy2
  {
    height: 70vh;
  }
  *
    {
        font-family:serif;
    }
  
    .numcontainer {
      width: calc(50% -10px);
      height: 20vmin;
      font-size: 10px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper{
      gap: 15px;
    }
    .bdy2
  {
    height: 130vh;
  }
  
    .numcontainer {
      width: 1000%;
      height: 40vmin;
      font-size: 14px;
    }
  }